{% set actions = include_dict.actions %}
{% for action in actions %}
<a href="{{ action.url | relative_url }}"
  {% if action.new_window %} target="_blank"{% endif %}
  {% if action.new_window or action.no_follow %} rel="{% if action.new_window %}noopener {% endif %}{% if action.no_follow %}nofollow{% endif %}"{% endif %}
  {{ classNames({
    'button': action.style == 'primary' or action.style == 'secondary',
    'button-secondary': action.style == 'secondary'
  }) }}>{{ action.label }}</a>
{% endfor %}
