<footer id="colophon" class="site-footer outer">
  <div class="inner">
    <div class="site-footer-inside">
      <p class="site-info">
        {% if site.params.footer.content %}
        <span class="copyright">{{ site.params.footer.content | safe }}</span>
        {% endif %}
        {% for action in site.params.footer.links %}
          {% set include_dict = {'action': action} %}
          {% include "action_link.html" %}
        {% endfor %}
      </p><!-- .site-info -->
      {% if site.params.footer.has_social %}
      <div class="social-links">
        {% for action in site.params.footer.social_links %}
          {% set include_dict = {'action': action} %}
          {% include "action_link.html" %}
        {% endfor %}
      </div><!-- .social-links -->
      {% endif %}
    </div><!-- .site-footer-inside -->
  </div><!-- .inner -->
</footer><!-- .site-footer -->