<header id="masthead" class="site-header outer">
  <div class="inner">
    <div class="site-header-inside">
      <div class="site-branding">
        {% if site.params.header.logo_img %}
        <p class="site-logo"><a href="{{ site.params.header.url | default('/', true) | relative_url }}"><img src="{{ site.params.header.logo_img | relative_url }}" alt="{{ site.params.header.logo_img_alt }}" /></a></p>
        {% else %}
        <p class="site-title"><a href="{{ site.params.header.url | default('/', true) | relative_url }}">{{ site.params.header.title }}</a></p>
        {% endif %}
      </div><!-- .site-branding -->
      {% if site.params.header.has_nav %}
      <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
        <div class="site-nav-inside">
          <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-close" aria-hidden="true"></span></button>
          <ul class="menu">
          {% for action in site.params.header.nav_links %}
            {% set page_url = page.url | trim('/') %}
            {% set action_url = action.url | trim('/') %}
            <li {{ classNames('menu-item', { 'has-children': action.has_subnav and action.subnav_links, 'current': page_url == action_url, 'menu-button': action.style != 'link' }) }}>
              {% set include_dict = {'action': action} %}
              {% include "action_link.html" %}
              {% if action.has_subnav and action.subnav_links %}
                <button class="submenu-toggle"><span class="icon-angle-right" aria-hidden="true"></span><span class="screen-reader-text">Sub-menu</span></button>
                {% set include_dict = {"submenu": action.subnav_links, "menu_class": "submenu", "page": page} %}
                {% include "submenu.html" %}
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        </div><!-- .site-nav-inside -->
      </nav><!-- .site-navigation -->
      <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
      {% endif %}
    </div><!-- .site-header-inside -->
  </div><!-- .inner -->
</header><!-- .site-header -->