{% extends "body.html" %}

{% block content %}

  <header class="page-header has-gradient outer">
    {% if page.params.image %}
    <div class="bg-img" style="background-image: url('{{ page.params.image | relative_url }}')"></div>
    {% endif %}
    <div class="inner-sm">
      <h1 class="page-title">{{ page.params.title }}</h1>
      {% if page.params.subtitle %}
      <p class="page-subtitle">{{ page.params.subtitle }}</p>
      {% endif %}
    </div>
  </header><!--.page-header -->

  <div class="inner-md outer">
    <div class="post-feed">
      {% set display_posts = getPages("/blog") | sort(true, true, "date") %}
      {% for post in display_posts %}
      <article class="post">
        {% if post.params.thumb_image %}
        <a class="post-thumbnail" href="{{ post.url | relative_url }}"><img src="{{ post.params.thumb_image | relative_url }}" alt="{{ page.params.thumb_image_alt }}" /></a>
        {% endif %}
        <header class="post-header">
          <div class="post-meta">
            <time class="published" datetime="{{post.date | date_format("%Y-%m-%d %H:%M") }}">{{ post.date | date_format("%B %d, %Y") }}</time>
          </div>
          <h2 class="post-title line-left"><a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.params.title }}</a></h2>
        </header>
        {% if post.params.excerpt %}
            <p class="post-excerpt">{{ post.params.excerpt }}</p>
            {% if page.params.has_more_link == true and page.params.more_link_text %}
            <p class="read-more">
              <a class="read-more-link" href="{{ post.url | relative_url }}">{{ page.params.more_link_text }}</a>
            </p>
            {% endif %}
        {% endif %}
      </article><!-- .post -->
    {% endfor %}
    </div><!-- .post-feed -->

  </div><!-- .inner-md -->

{% endblock %}